/* --- MAIN CONTAINER --- */
.page6-container {
  position: relative;
  min-height: 100vh;
  background: url("/src/assets/page5bg.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Comic Neue", cursive;
  color: white;
  overflow: hidden;
}
 
/* --- HEADING --- */
.page6-heading {
  position: absolute;
  top: 0;          
  left: 2cm;      
  font-size: 3rem;
  font-weight: 600;
  color: white;  
  line-height: 1.2;
  text-align: left;
  font-family: "Comic Neue", cursive;
  white-space: pre-line;
  margin: 0;       
  padding: 0;      
}


/* --- REGISTER SECTION --- */
.register-section {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.register-link a{
  font-size: 2rem;
  font-family: "Comic Neue", cursive;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-link:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.25);
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .page6-heading {
    font-size: 2.3rem;
    left: 2rem;
    top: 2rem;
  }

  .register-link {
    font-size: 1.4rem;
  }
}
